<!DOCTYPE html>
<html lang="en">    #practicas, no tener en cuenta
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Nueva Pagina</title>
</head>
<body>
    <h1>Bienvenidos a los miembros de mi familia</h1>
    <h2>En este sitio podras ver la base de datos familiar</h2>
    <h3>Te invitamos a ver nuesta base de datos</h3>

   
    
     
    <hr>
     
      
    <hr>

    <p style="color: red">Su nombre es: {{ nombre }}</p>
    <p style="color: red">Su apellido es: {{ apellido }}</p> 
    <p style="color: red">Su relacion es: {{ relacion }}</p> 
    <p style="color: red">Su edad es: {{ edad }}</p> 

    <hr>


   
</body>
</html>